 
h1 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

 i {
        font-size: 16px;
    }

header {
    display: flex;
    justify-content: center;
    margin: 10px;

    img {
        width: 50%;
    }
}

#location {
    display: flex;
    justify-content: center;
    background-color: $grey-mid;
    padding: 15px;

    i {
        color: $grey-dark;
          margin-left: 50px;
          margin-right: 10px;
    }
    input {
        border: none;
        background-color: $grey-mid;
        color: $grey-dark;
    }

}
    ::placeholder{
        color:$grey-dark;
        text-decoration: none;
        font-family: "Roboto";
        font-weight: bold;
    }

#introduction {
    background-color: $grey-light;
    & h1 {
        font-size: 24px;
        text-align: center;
        padding: 30px 50px 10px 50px;
        margin: 0px;
    }
    & p {
        font-size: 18px ;
        margin: 0px 30px 30px 30px;
        text-align: center;
    }
    &__explore {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
}

#fonctionnement {
    margin: 40px 20px 20px 20px;
}

#restaurants {
    padding: 20px;
    background-color: $grey-light;
}
.box {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 4px 4px 14px 1px rgb(228, 228, 228);
    margin-bottom: 20px;


    img {
        width: 100%;
        height: 180px;
        object-fit:cover;
        border-radius: 20px 20px 0px 0px;
    }
}

    
footer {
    background-color: $grey-dark;
    color: white;
    padding:20px;
    & a {
      color: white;
    }
    & h2 {
        font-family: 'Shrikhand', sans-serif;
        margin: 0px;
        font-size: 16px;
        font-weight: lighter;}
    
    & li {
        list-style: none;
        line-height: 30px;
    }
    & ul {
        padding: 0px;}

    i {
        font-size: 12px;
    }
    
    .footer__boxes {
        display: flex;
    }
        
    .footer__icones {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 10px;
    }
    .footer__text{
        display: flex;
        flex-direction: column;
    }
}

