$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$grey-light: rgb(246, 246, 246);
$grey-mid: rgb(234, 234, 234);
$grey-dark: rgb(53, 53, 53);

$colour-btn: linear-gradient(338deg, $colour-primary, $colour-secondary);

$purple-light: lighten($colour-primary, 5%);
$pink-light: lighten($colour-secondary, 5%);

$colour-btn-light: linear-gradient(338deg, $purple-light, $pink-light);



