.footer {
  background-color: $grey-dark;
  color: white;
  padding: 20px 20px 30px 20px;
  @include flex-column;
  line-height: 30px;

  a {
    color: white;
  }
  p {
    font-family: "Shrikhand", sans-serif;
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: lighter;
  }

  i {
    font-size: 12px;
  }
  &__boxes {
      display: flex;
  }
  &__icones {
    @include flex-column;
    justify-content: space-around;
    margin-right: 10px;
  }
  &__text {
      @include flex-column;
    justify-content: center;
  }
}
  
