.footer {
  background-color: $grey-dark;
  color: white;
  padding: 20px;
  a {
    color: white;
  }
  p {
    font-family: "Shrikhand", sans-serif;
    margin: 0px;
    font-size: 16px;
    font-weight: lighter;
  }

  li {
    list-style: none;
    line-height: 30px;
  }
  ul {
    padding: 0px;
  }

  i {
    font-size: 12px;
  }
  &__boxes {
      display: flex;
  }
  &__icones {
    @include flex (column, space-around, 0);
    margin-right: 10px;
  }
  &__text {
      @include flex (column, center, 0);
  }
}
  
