@keyframes flash {
  0% {
    background-color: $colour-primary;
  }
  50% {
    background-color: $colour-secondary;
  }
  100% {
    background-color: $colour-tertiary;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
