body {
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    opacity: 1;
}

  i.far.fa-heart, i.fas.fa-heart {
    font-size: 26px;
    padding-right: 10px;
  }

  i.fas.fa-heart {
    color: $colour-secondary;
  }